# sudo cp urlwatcher.service /lib/systemd/system
# sudo chmod 644 /lib/systemd/system/urlwatcher.service
# sudo systemctl enable urlwatcher
# sudo systemctl start urlwatcher
# sudo systemctl status urlwatcher



[Unit]
Description=urlwatcher
Documentation=https://github.com/rweigel/urlwatcher

[Service]
Type=simple
User=ubuntu
WorkingDirectory=/home/ubuntu/urlwatcher
ExecStart=/usr/bin/sh -c etc/urlwatcher.sh
Restart=always

[Install]
WantedBy=multi-user.target
