[Unit]
Description=urlwather
Documentation=https://github.com/rweigel/urlwatcher

[Service]
Type=simple
User=ubuntu
WorkingDirectory=/home/ubuntu/urlwatcher
ExecStart=/home/ubuntu/.nvm/versions/node/v16.2.0/bin/node app.js private/app-config.json 2>&1 | logger -t urlwatcher
Restart=on-failure

[Install]
WantedBy=multi-user.target
